<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <!-- rendering a partial -->
    {{>header}}

    <p>{{errorMessage}}</p>

    {{>footer}}
</body>

</html>